VITE_GOOGLE_CLIENT_ID=564058572628-urbo042oh4rp69136p59bh4uo9a85p6k.apps.googleusercontent.com
VITE_API_URL='http://localhost:8000/api'
VITE_PUSHER_APP_KEY=e763506a415282015704
VITE_PUSHER_APP_CLUSTER=mt1